<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/cnn.webp" alt="logo">

            <!-- Menu -->
            <ul id="menu-utama">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>

            <!-- Form Search -->
            <form action="#">
                <input type="text" name="Search">
            </form>
        </div>
        <div id="content">
            <div class="sub-artikel">
                <h2>Hasil All England 2024: Dejan/Gloria Singkirkan Unggulan China</h2>
                <a href="">CNN Indonesia</a>
                <h6>Selasa, 12 Mar 2024 22:45 WIB</h6>
                <img src="../img/artikel2.jpeg" alt="Gmbar Artikel">
                <p>Jakarta, CNN Indonesia -- Ganda campuran Indonesia Dejan Ferdinansyah/Gloria Emanuelle Widjaja menyingkirkan unggulan kelima asal China, Jiang Zhen Bang/Wei Ya Xin pada babak pertama All England 2024 di Utilita Arena, Birmingham, Selasa (12/3) malam WIB.</p>
                <p>Dejan/Gloria berhasil meraih kemenangan meyakinkan 21-10, 21-16 atas Jiang Wei dalam waktu 38 menit.</p>
                <p>Dejan/Gloria melakoni duel alot melawan Jiang/Wei di gim pertama. Dejan/Gloria sempat unggul 5-2 tetapi skor bisa disamakan jadi 5-5.</p>
                <p>Dejan/Gloria bermain apik setelah interval. Pasangan Indonesia ini hanya membuat Jiang/Wei terus dalam tekanan hingga akhirnya menang dengan skor meyakinkan 21-10 di gim pertama.</p>
                <p>Situasi berubah memasuki awal gim kedua. Kali ini justru Jiang/Wei yang bisa unggul tipis 4-3 atas Dejan/Gloria.</p>
                <p>Tiga poin beruntun bahkan bisa didapat Jiang/Wei yang membuat mereka menjauhkan keunggulan jadi 7-3. Dejan/Gloria tetap tampil tenang dan pada akhirnya bisa membuat skor menjadi imbang 7-7.</p>

            </div>
        </div>

        <div id="sidebar">
            <h2>Who we are?</h2>
            <p>Kami adalah mahasiswa PLJ Kampus Cimone Prodi KA yang sedang belajar membuat website portal sederhana menggunakan bahasa pemrograman HTML.</p>

            <h2>Artikel Berdasarkan Kategori</h2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">Makanan</a></li>
            </ul>
        </div>
        <div id="footer">
            <p>Fahri Widianto &copy; 2024</p>
        </div>
    </div>
</body>
</html>