<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/cnn.webp" alt="logo">

            <!-- Menu -->
            <ul id="menu-utama">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>

            <!-- Form Search -->
            <form action="#">
                <input type="text" name="Search">
            </form>
        </div>
        <div id="content">
            <div class="sub-artikel">
                <h2>Fakta-fakta Terbaru Dugaan Satu Keluarga Bunuh Diri di Jakarta Utara</h2>
                <a href="">CNN Indonesia</a>
                <h6>Selasa, 12 Mar 2024 10:45 WIB</h6>
                <img src="../img/aaa1.jpeg" alt="Gambar Artikel">
                <p>Jakarta, CNN Indonesia -- Satu keluarga yang terdiri dari empat orang ditemukan tewas dengan dugaan bunuh diri melompat dari apartemen kawasan Penjaringan Jakarta, Sabtu (9/3).</p>
                <p>Berdasarkan pemeriksaan tim Inafis, keempat orang itu ditemukan tewas dengan sejumlah luka, mulai dari kepala bagian belakang pecah, hingga patah bagian tangan dan kaki.</p>
                <p>Polsek Metro Penjaringan mengatakan keempat jasad korban ditemukan petugas keamanan yang berjaga di lobi apartemen.</p>
                <p>Petugas itu mendengar suara benturan keras dan bergegas memeriksa. Usai menemukan korban, petugas langsung melapor ke polisi. Petugas kemudian mendatangi lokasi dan melakukan olah TKP untuk mengidentifikasi korban.</p>
                <p>Agus turut mengungkapkan dari hasil pemeriksaan rekaman kamera CCTV, salah satu korban berinisial EA (50) sempat mencium ketiga korban lain sebelum lompat dari lantai 22.</p>
                <p>EA adalah suami sekaligus kepala keluarga. Sementara AIL disebut sebagai istri dan ibu atas dua anak yang turut tewas dalam kejadian tersebut.</p>
                
            </div>
        </div>

        <div id="sidebar">
            <h2>Who we are?</h2>
            <p>Kami adalah mahasiswa PLJ Kampus Cimone Prodi KA yang sedang belajar membuat website portal sederhana menggunakan bahasa pemrograman HTML.</p>

            <h2>Artikel Berdasarkan Kategori</h2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">Makanan</a></li>
            </ul>
        </div>
        <div id="footer">
            <p>Fahri Widianto &copy; 2024</p>
        </div>
    </div>
</body>
</html>