<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/cnn.webp" alt="logo">

            <!-- Menu -->
            <ul id="menu-utama">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>

            <!-- Form Search -->
            <form action="#">
                <input type="text" name="Search">
            </form>
        </div>
        <div id="content">
            <div class="sub-artikel">
               <h2>Darurat Timnas Indonesia, Pemain Naturalisasi Disumpah WNI Malam Hari?</h2>
               <a href="">CNN Indonesia</a>
               <h6>Rabu, 13 Mar 2024 08:32 WIB</h6>
               <img src="../img/artikel3.jpeg" alt="Gmabr Artikel">
               <p>Jakarta, CNN Indonesia -- Langkah-langkah yang ditempuh PSSI dalam proses naturalisasi pemain sepak bola untuk Timnas Indonesia makin anomali.</p>
               <p>Terbaru, prosesi sumpah WNI pemain naturalisasi dilangsungkan pada tanggal merah dan malam hari. Adalah Nathan Tjoe-A-On yang menjalani proses anomali tersebut pada Senin (11/3).</p>
               <p>Foto Nathan disumpah WNI beredar di media sosial pada Senin (11/3) malam. Namun, PSSI melalui Ketua Umum Erick Thohir baru mengumumkan proses naturalisasi pada Selasa (12/3) siang.</p>
               <p>Pria yang menjabat Menteri BUMN itu juga menyebut PSSI tengah mengurus proses perpindahan federasi untuk Nathan sebagai syarat untuk membela skuad Garuda.</p>
               <p>"Satu langkah lagi yaitu mengurus perpindahan federasi untuk Nathan bisa membela Timnas Indonesia. Terima kasih atas dukungan semua lembaga yg membantu proses berjalan dengan baik."</p>
               <p>"Insya Allah Nathan bisa memperkuat Indonesia saat melawan Vietnam pada 21 Maret mendatang. Bersama-sama kita bawa Garuda Mendunia," terang Erick Thohir.</p>
               <p>Sejatinya surat keputusan presiden (Keppres) atas naturalisasi Nathan sudah diteken pada 11 Desember 2023. Keppres Nathan ini bersamaan dengan Keppres atas nama Jay Idzes.</p>



            </div>
        </div>

        <div id="sidebar">
            <h2>Who we are?</h2>
            <p>Kami adalah mahasiswa PLJ Kampus Cimone Prodi KA yang sedang belajar membuat website portal sederhana menggunakan bahasa pemrograman HTML.</p>

            <h2>Artikel Berdasarkan Kategori</h2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">Makanan</a></li>
            </ul>
        </div>
        <div id="footer">
            <p>Fahri Widianto &copy; 2024</p>
        </div>
    </div>
</body>
</html>