<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/cnn.webp" alt="logo">

            <!-- Menu -->
            <ul id="menu-utama">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>

            <!-- Form Search -->
            <form action="#">
                <input type="text" name="Search">
            </form>
        </div>
        <div id="content">
            <div class="artikel">
                <img src="../img/bultang.jpeg" alt="Gambar Artikel">
                <h2>Jadwal Wakil Indonesia di French Open 2024 Hari Ini, Rabu 6 Maret</h2>
                <p>Seluruh pasangan ganda putra Indonesia akan tampil hari ini dalam laga babak pertama French Open 2024 di Adidas Arena, Paris, Rabu (6/3).</p>
                <a href="artikel1.html">Baca Selengkapnya ...</a>
            </div>

            <div class="artikel">
                <img src="../img/ganjar.jpeg" alt="Gambar Artikel">
                <h2>Dilaporkan ke KPK, Ganjar Bantah Terima Gratifikasi Bank Jateng</h2>
                <p>Eks gubernur Jawa Tengah sekaligus capres nomor urut 3 Ganjar Pranowo membantah terlibat dugaan suap dan gratifikasi di lingkungan Bank Pembangunan Daerah (BPD) Jawa Tengah.</p>
                <a href="artikel2.html">Baca Selengkapnya ...</a>
            </div>

            <div class="artikel">
                <img src="../img/israel.jpeg" alt="Gambar Artikel">
                <h2>Israel Izinkan Muslim Palestina Ibadah di Masjid Al-Aqsa saat Ramadan</h2>
                <p>Israel akan mengizinkan warga Muslim Palestina menggunakan Masjid Al-Aqsa di Yarussalem, untuk beribadah di bulan Ramadan.</p>
                <a href="artikel3.html">Baca Selengkapnya ...</a>
            </div>

        </div>

        <div id="sidebar">
            <h2>Who we are?</h2>
            <p>Kami adalah mahasiswa PLJ Kampus Cimone Prodi KA yang sedang belajar membuat website portal sederhana menggunakan bahasa pemrograman HTML.</p>

            <h2>Artikel Berdasarkan Kategori</h2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">Makanan</a></li>
            </ul>
        </div>
        <div id="footer">
            <p>Fahri Widianto &copy; 2024</p>
        </div>
    </div>
</body>
</html>